<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BookSystem.MybatisMapper.MybatisSpecialKeyMapper">
	<select id="findSpecialKeysWithUserID" resultType="com.BookSystem.javaBean.SpecialKey">
		select * from specialkeys where fromUserID=#{fromUserID}
	</select>
	<insert id="insertSpecialkeyWithUserID">
		insert into specialkeys(specialKey,keyType,fromUserID) values(#{specialKey},#{keyType},#{fromUserID})
	</insert>
</mapper>